body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	background-color: rgb(176, 176, 176);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 10px 20px;
  border-bottom: 3px solid black;

  
}

/***********************  Footer Section   **************************/
footer {
	background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 15px 30px;
  border-bottom: 3px solid grey;
}

/*********** Splash Page ************************/
header {
background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 20px 40px;
}

header h1 {
  font-family: "Poppins", sans-serif; 
  font-size: 48px;
  color: rgb(27, 24, 24);
  margin: 0;
  letter-spacing: 1px;
}

header img {
  width: 220px;
  border-radius: 14px;
  border: 4px solid black;
  display: block;
}

.address {
 font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: darkgrey;
  margin: 0;
}

.tagline {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2c2a2a;
  margin: 0;
}

/************* Sections ********************/
hr {
  border: none;
  border-top: 2px solid #b4b2b2;
  margin: 30px 0;
}

section h3 {
  font-family: "Poppins", sans-serif;
  color: #0f46a3;
  margin-bottom: 10px;
}

section dl {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 10px 18px;
  margin: 0 0 20px 0;
}

section ul {
  list-style-type: square;
  padding-left: 20px;
}

section a {
  color: #1047a5;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  padding: 0 20px 20px 20px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
}

.card {
  background-color: white;
  border: 2px solid #111111;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(8, 8, 8, 0.15);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
    flex-direction: column;
    gap: 8px;
    text-align: center;
    }

    .three-col {
    grid-template-columns: 1fr;
    max-width: 420px;
    margin: 0 auto;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  max-width: 520px;
  margin: 0 auto;
  padding: 24px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #111111;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;

}

textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #111111;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  min-height: 120px;
}